@page "/"
@inject ISample sample
@inject SampleChain sampleChain

<h1>Hello, world! @sample.Name @sampleChain.Test</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
